*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

/* body {
  line-height: 1.6;
} */
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #63a46c, #63d471);
  color: #fff;
  padding: 1rem;
}
.calculator {
  max-width: 40rem;
  border: 2px solid #ffff76;
  margin: 10% auto;
  padding: 2rem;
}

.calculator h1 {
  line-height: 1.2;
  font-size: 3rem;
}
.accent {
  color: #ffff76;
}

.input-box {
  margin: 3rem 0;
  padding: 2rem;
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}

.input-box input {
  flex: 1;
  margin-right: 1.5rem;
  padding: 0.8rem 1.2rem;
  border: 0;
  outline: 0;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  position: relative;
}

.input-box button {
  background: #ffff76;
  border: 0;
  outline: 0;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 300;
  color: #333;
  cursor: pointer;
}

/* .input-box input::-webkit-calendar-picker-indicator {
  width: auto;
  height: auto;
  position: absolute;
  abckground-position: calc(100% - 10px);
  background-size: 2rem;
  cursor: pointer;
  inset: 0;
} */

.input-box input::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  position: absolute;
  background-position: calc(100% - 10px);
  background-size: 2rem;
  cursor: pointer;
  width: auto;
  height: auto;
  inset: 0;
  transition: all 0.4s ease;
}
.input-box input::-webkit-calendar-picker-indicator:hover {
  color: rgba(50, 50, 50, 0);
  opacity: 0.6;
}
